body {
  padding-top: 50px;
  font-size: 18px;
}

a, a:hover {
color: #346983;
}

.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a {color: #346983; margin-top: 7px;}

#map { width: 100%; height: 670px;}

.leaflet-google-layer{
    z-index: 0;
}
.leaflet-map-pane{
    z-index: 100;
}

.leaflet-google-layer .leaflet-zoom-anim, .leaflet-google-layer .leaflet-zoom-animated {
    transition-property: none!important;
    -webkit-transition-property: none!important;
    -webkit-animation: none!important;
    animation: none!important;
}

#search_address {
    width: 400px;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
    text-transform: none;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.info.leaflet-control {
    font-family:'Montserrat',sans-serif;
    background-color: #fff;
    padding: 0 10px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


table {
  background: #fff;
  border: solid 1px #ddd;
}

table tr th, table tr td {
  color: #222;
  text-align: left;
  padding: 5px 7px;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
}