body {
    margin: 0;
    font-family:'Montserrat',sans-serif;
}

#map {
    height: 100%;
}


.info.leaflet-control {
    font-family:'Montserrat',sans-serif;
    background-color: #fff;
    padding: 0 10px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
