/* custom styles */

body {
  font-size: 16px;
  background-color: #242426;
  position: relative;
  font-weight: 300;
}

a {
  color: #de2d26;
}

a:active, a:hover, a:focus {
  color: #de2d26;
}

h1, h2{
  font-family: 'Alegreya', serif;
  color: #e77960;
}

h3, h4, .h3, .h4 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  color: #e8b19c;
}

.info.leaflet-control {
    background-color: RGBA(255, 255, 255, .7);
    color: #333;
    padding: 0 10px;
    min-width: 200px;
}

.info.leaflet-control > h4 {
  font-style: normal;
}

.navbar-default {
  background-color: #0D0D0D;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #a50f15;
}
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #a50f15;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #e77960;
}
.navbar-header > a.navbar-brand:hover{
  color: #e77960;
}
.navbar-brand{
  font-family: 'Alegreya', serif;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.info h4 {
  font-size: 18px;
  color: #777;
}

table {
  background: #fff;
  border: solid 1px #ddd;
}

table tr th, table tr td {
  color: #222;
  text-align: left;
  padding: 5px 7px;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
}

#menu { position: absolute; top: 5px; right: 10px; width: 400px; height:60px; background: transparent; z-index:10;}
#menu a { 
  margin: 15px 10px 0 0;
  float: right;
  vertical-align: baseline;
  padding: 4px;
  text-align: center;
  line-height: normal;
  color: #88888e;
  border: 3px solid #353537;
  background-color: #242426;
  text-decoration: none;
  cursor: pointer;
}
#menu a.selected,
#menu a:hover { 
  border: 3px solid #E8B19C;
  color: #fff;
}

.scroll {
  height: 550px;
  overflow-y: scroll;
}

.citation {
  vertical-align: super;
  background-color: #A50F15;
  font-size: .6em;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.popover-content {
  padding: 3px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333;
  background: #E8B19C;
}

.popover.top > .arrow::after {
  border-top-color: #E8B19C;
}
.popover.top > .arrow {
  bottom: -10px;
}
