<!DOCTYPE html>
<html lang='en'>
<head>
  <title>
    {% if page.title %}
      {{page.title}} - {{site.name}}
    {% else %}
      {{site.name}}
    {% endif %}
  </title>
  <meta charset='utf-8' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  {% if page.description %}
    <meta content="{{ page.description }}" name='description' />
  {% else %}
    <meta content="{{ site.description }}" name='description' />
  {% endif %}
  <meta content='{{ site.name }}' name='author' />

  <!-- Facebook metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about-us/" property="article:author">
  {% endif %}
  {% if page.image %}
    <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}/images/logo.png" property="og:image">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@DataMadeCo">
  <meta name="twitter:creator" content="@DataMadeCo">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
  {% endif %}

  <link href='/favicon.ico' rel='shortcut icon' />

  <title>Chicago's Million Dollar Blocks</title>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="css/bootstrap.darkly.min.css" />
  <link rel="stylesheet" href="css/custom.css" />

  <link href='http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700' rel='stylesheet' type='text/css'>

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
  <![endif]-->

  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/highcharts.js"></script>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>
  <script src="js/accounting.min.js"></script>
  <script src="js/jquery.address.js"></script>
  
  <style>
    html, body {width:100%; height:100%; padding: 0; margin: 0;}
    #cartodb-map { width: 100%; height:100%; background: black;}
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="/">Chicago's Million Dollar Blocks</a>

      </div>
      <div id="navbar">
        <ul id="sections" class="nav navbar-nav">
          <li><a href="#section-1">Intro</a></li>
          <li><a href="#section-2">Alternatives</a></li>
          <li><a href="#section-3">Evidence</a></li>
          <li><a href="#section-4">About</a></li>
          <li><a href="/map.html"><span class="desktop-only">Full </span>Map</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      {{ content }}
    </div>
  </div>

  <script src="js/analytics_lib.js"></script>
  <script>
    $('body').scrollspy({ target: '#sections' })
    $('.citation').popover({ html : true })

    $('#cartodb-map').animate({ marginLeft: '-=1000'}, 0)
                    .delay(600)
                    .animate({ marginLeft: '+=1000'}, 1200);
    $(function () {
      var $element = $('#scroll-arrow');
      setInterval(function () {
        $element.fadeIn(0, function () {
          $element.fadeOut(800, function () {
            $element.fadeIn(800)
          });
        });
      }, 1600);
    });

    $( "#content" ).scroll(function() {
      $( "#scroll-arrow" ).fadeOut(800, function(){
        this.remove();
      });
    });
  </script>
</body>
</html>
